<h1 class="title">Finnkino uutisia</h1>
<div class="search">
  <input matInput placeholder="Kirjoita hakusana" [(ngModel)]="searchTerm">
</div>
<mat-accordion>
  <mat-expansion-panel *ngFor="let newsItem of cinemaData$ | async | haku: searchTerm">
    <mat-expansion-panel-header>

      <mat-panel-title>
        {{newsItem.PublishDate | date: 'dd.MM.yyyy'}}
      </mat-panel-title>
      <mat-panel-description>
        {{newsItem.Title}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    {{newsItem.HTMLLead}}
    <a [href]="newsItem.ArticleURL" target="_blank">{{newsItem.ArticleURL}}</a>
  </mat-expansion-panel>