<!--<p>toolbar works!</p>-->

<mat-toolbar class="toolbar">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Frontend-työkalut valikko</span>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/laskin" routerLinkActive="active">Laskin</a>
    <a mat-menu-item routerLink="/feedback" routerLinkActive="active">Palaute</a>
    <a mat-menu-item routerLink="/form" routerLinkActive="active">Lomake</a>
    <a mat-menu-item routerLink="/reactiveform" routerLinkActive="active">Reaktiivinen lomake</a>
    <a mat-menu-item routerLink="/cinema" routerLinkActive="active">Finnkino info</a>
</mat-menu>