<h1>Reactive registration form</h1>


    <form class="example-form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
            <input matInput 
                placeholder="first name"
                formControlName="firstName">
                <mat-error *ngIf="firstName?.hasError('required')">Enter your first name</mat-error>
                <mat-error *ngIf="firstName?.hasError('minlength')">Minimum 2 characters required</mat-error>
                <mat-error *ngIf="firstName?.hasError('pattern')">Must be valid name</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput 
                placeholder="last name"
                formControlName="lastName">
                <mat-error *ngIf="lastName?.hasError('required')">Enter your last name</mat-error>
                <mat-error *ngIf="lastName?.hasError('minlength')">Minimum 2 characters required</mat-error>
                <mat-error *ngIf="lastName?.hasError('pattern')">Must be valid name</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput 
                placeholder="PersonID"
                formControlName="personID">
                <mat-error *ngIf="personID?.hasError('required')">Enter your ID</mat-error>
                <mat-error *ngIf="personID?.hasError('minlength')">Minimum 1 characters required</mat-error>
                <mat-error *ngIf="personID?.hasError('pattern')">Must be valid ID</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput 
                placeholder="email"
                formControlName="email">
                <mat-error *ngIf="email?.hasError('required')">Enter your email</mat-error>
                <mat-error *ngIf="email?.hasError('pattern')">Must be valid email</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput 
                placeholder="username"
                formControlName="userName">
                <mat-error *ngIf="userName?.hasError('required')">Enter your username</mat-error>
                <mat-error *ngIf="userName?.hasError('minlength')">Minimum 6 characters required</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput 
                type="password"
                placeholder="password"
                formControlName="password">
                <mat-error *ngIf="password?.hasError('required')">Enter your password</mat-error>
                <mat-error *ngIf="password?.hasError('minlength')">Password must be at least 8 characters or longer</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput 
                type="password"
                placeholder="confirm password"
                formControlName="confirmPassword">
                <mat-error *ngIf="confirmPassword?.hasError('required')">Enter your password</mat-error>
                <mat-error *ngIf="confirmPassword?.hasError('minlength')">Password must be at least 8 characters or longer</mat-error>
                <mat-error *ngIf="confirmPassword?.hasError('pattern')">Password isn't compatible</mat-error>
        </mat-form-field>
        <mat-checkbox formControlName="termsAndConditions">Accept terms and conditions
            <mat-error *ngIf="termsAndConditions?.invalid && termsAndConditions?.dirty">
                You must accept terms and conditions
            </mat-error>
        </mat-checkbox>
        <button type="submit">Submit</button>

    </form>
      
        
